
.slick-initialized {
    .slick-slide {
        width: 300px !important;
        margin: 12px !important;
    }
}
.slick-next {
    background: none !important;
    width: 8px !important;
    height: 16px !important;
    &::before {
        color: #000 !important;
        opacity: 0.5 !important;
    }
}
.slick-prev {
    background: none !important;
    width: 8px !important;
    height: 16px !important;
    &::before {
        color: #000 !important;
        opacity: 0.5 !important;
    }
}

