
.card-slider {
  .slick-list {
    width: 79% !important;
    margin: 0 auto !important;
  }

.slick-next {
  background: none;
  width: 8px !important;
  height: 16px !important;
  right: 46px !important;
  @media (min-width: 320px) and (max-width: 375px) {
    right: 7px !important;
  }
  @media (min-width: 375px) and (max-width: 414px) {
    right: 8px !important;
  }
  @media (min-width: 414px) and (max-width: 480px) {
    right: 15px !important;
  }
  &::before {
      color: transparent !important;
      opacity: 0.5 !important;
      color: transparent !important;
      opacity: 0.5 !important;
      background-image: url('../images/right.png');
      background-repeat: no-repeat;
  }
}
.slick-prev {
  width: 8px !important;
  height: 16px !important;
  left: -7px !important;
  @media (min-width: 320px) and (max-width: 375px) {
    left: 0 !important;
  }
  @media (min-width: 375px) and (max-width: 414px) {
    left: 5px !important;
  }
  @media (min-width: 414px) and (max-width: 480px) {
    left: 6px !important;
  }
  &::before {
      color: transparent !important;
      opacity: 0.5 !important;
      background-image: url('../images/left.png');
      background-repeat: no-repeat;
  }
}

.card {
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #EEEDED;
  border-bottom-color: #fff;
  width: 300px;
  @media (max-width: 480px) {
    width: 100%;
  }
  @media (min-width: 501px) and (max-width: 768px) {
    width: 258px;
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 90%;
  }
  @media (min-width: 1025px) and (max-width: 1600px) {
    width: 90%;
  }
  @media only screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
  .flavour-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
      overflow: hidden;
    > img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 272px;
      padding: 50px;
      
    }
    .change-flavour {
      background-color: #f9e8de;
      position: absolute;
      left: 68%;
      top: 5%;
      border-radius: 100px;
      font-weight: 300;
      border: none;
      width: 85px;
      height: 24px;
      font-size: 10px;
      line-height: 12px;
      color: #F36400;
      @media (min-width: 320px) and (max-width: 375px) {
        left: 58%;
      }
      @media (min-width: 375px) and (max-width: 414px) {
        left: 67%;
      }
      @media (min-width: 489px) and (max-width: 576px) {
        left: 64%;
        font-size: 13px;
      }
      @media (min-width: 768px) and (max-width: 992px) {
        left: 28%;
        top: 8%;
        font-size: 13px;
      }
      @media (min-width: 993px) and (max-width: 1280px) {
        left: 45%;
        top: 8%;
        font-size: 13px;
      }
      @media (min-width: 1281px) and (max-width: 1412px) {
        left: 58%;
        top: 8%;
        font-size: 13px;
      }
    }
  }
  
  .card-body {
    background-color: #fff;
    padding: 23px 16px 29px 16px;
    border-radius: 20px;
    .card-title {
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 500;
    }
    .skin-rating {
      display: flex;
      justify-content: space-between;
      margin: 15px 0px 20px 0px;
      .skin-rating-left {
        display: flex;
        align-items: center;
        img {
          width: 22.5px;
          height: 22.5px;
          margin-right: 6px;
        }
      }
      .skin-rating-right {
        display: flex;
        align-items: center;
        span {
          font-size: 18px;
          margin-right: 6px;
          img {
            margin-top: -4px;
            margin-left: 4px;
          }
        }
        
      }
    }
    .pricing {
      display: flex;
      justify-content: space-between;
      .full-price {
        font-size: 18px;
        margin-right: 4px;
      }
      .price-cut {
        text-decoration: line-through;
        opacity: 0.5;
        font-size: 14px;
      }
      .you-save {
        color: #999999;
        font-size: 14px;
      }
      .red-price {
        color: #f00;
        font-size: 14px;
      }
    }
  }
  .card-body.bottom-cart {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    .bottom-cart-left {
      width: 80%;
      .form-select {
        width: 100%;
        border-bottom-left-radius: 28px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-right-color: #fff;
        border-right-color: #fff;
        border-right: 0;
        font-size: 14px;
        border-left: 0;
        height: 40px;
        border-color: #EEEDED;
      }
    }
    .bottom-cart-right {
      width: 21%;
      .add-btn {
        border-bottom-right-radius: 15px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        width: 100%;
        height: 40px;
        font-size: 16px;
        background-color: #000;
        @media (min-width: 320px) and (max-width: 375px) {
          font-size: 10px;
        }
        @media (min-width: 769px) and (max-width: 1024px) {
          font-size: 10px;
        }
      }
      @media (min-width: 768px) and (max-width: 992px) {
        width: 33%;
      }
    }
  }
}
}
