.main-header {
  background-color: red;
  padding-top: 13px;
  .navbar-brand {
    margin: 0 auto;
    font-size: 36px;
    display: inline-block;
    width: 100%;
    text-align: center;
    .bold-logo {
      font-weight: 700;
      margin-right: 7px;
    }
    .normal-logo {
      font-weight: 500;
    }
  }
  
  .header {
    padding: 12px 0px;
    .slick-slide {
      padding: 10px 0px;
      text-transform: uppercase;
      width: 95px !important;
      margin: 55px;
      text-align: center;
      @media (max-width: 480px) {
        margin: 8px;
      }
      @media (min-width: 320px) and (max-width: 375px) {
        margin: 2px;
      }
      @media (min-width: 768px) and (max-width: 1366px) {
        margin: 16px;
      }
    }
  }
  .slick-list {
    width: 82%;
    margin: 0 auto;
    @media (max-width: 576px) {
      width: 107%;
      height: 173px;
    }
    @media (min-width: 768px) and (max-width: 1280px) {
      width: 100%;
    }
  }
  
}

.my-slick {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding: 8px 0px 22px 0px;
  img {
    @media (max-width: 576px) {
      width: 35px !important;
    }
  }
  .menu-name {
    padding-top: 24px;
    display: inline-block;
    font-size: 13px;
    @media (max-width: 576px) {
      font-size: 14px;
    }
  }
  @media (max-width: 480px) {
    width: 100% !important;
    height: 170px;
  }
  @media (min-width: 576px) and (max-width: 768px) {
    width: 77% !important;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 100% !important;
    height: 124px !important;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  @media (max-width: 576px) {
    overflow-x: scroll;
  }
  @media (max-width: 768px) {
    overflow-x: scroll;
  }
  > .header-menu {
    padding: 18px 20px;
    margin: 0px 22px;
    border-radius: 100px;
    text-align: center;
    @media (max-width: 576px) {
      padding: 18px 10px;
      margin: 0px 20px;
    }
    @media (max-width: 768px) {
      padding: 5px 7px 8px 8px;
      margin: 0px 8px;
    }
    @media (max-width: 1024px) {
      padding: 18px 14px;
      margin: 0px 10px;
    }
    .menu-name {
      text-align: center;
      padding-top: 30px;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}

.active-item {
  background: #fff;
  border-radius: 100px;
  font-weight: 700;
  @media (max-width: 576px) {
    height: 111px;
  }
}
