.main-header {
  background-color: #fbfafa;
  padding-top: 13px;
  .navbar-brand {
    margin: 0 auto;
    font-size: 36px;
    display: inline-block;
    width: 100%;
    text-align: center;
    .bold-logo {
      font-weight: 700;
      margin-right: 7px;
    }
    .normal-logo {
      font-weight: 500;
    }
  }
  .header {
    padding: 12px 0px;
    .slick-slide {
      padding: 10px 0px;
      text-transform: uppercase;
      width: 95px !important;
      margin: 55px;
      text-align: center;
      @media (max-width: 480px) {
        margin: 14px;
      }
    }
  }
  .slick-list {
    width: 83%;
    margin: 0 auto;
  }
}

.my-slick {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  .menu-name {
    padding-top: 24px;
    display: inline-block;
  }
  @media (max-width: 480px) {
    width: 100% !important;
    height: 170px;
  }
  @media (min-width: 576px) and (max-width: 768px) {
    width: 77% !important;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 71% !important;
    height: 200px !important;
  }
}

.active-item {
  filter: grayscale(0) !important;
  -webkit-filter: grayscale(0) !important;
  background: #fff;
  padding: 8px 0px 22px 0px;
  border-radius: 100px;
  font-weight: 700;
}
